<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ISBN READER</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
<div id="header"><%- include views/partial/navbar ; %></div>
<h3>
	正しいアカウントアドレスからアクセスしてください。
</h3>
</body>
</html>